<div id="fh5co-about" data-section="about">
        <div class="container">
            <div class="row r-pb">
                <div class="col-md-8 col-md-offset-2 text-center section-heading animate-box">
                    <h2 class="fh5co-section-title">about</h2>
                </div>
            </div>
            <div class="row">
                <div class="animate-box">
                    <div class="fh5co-text">
                        <h2>Евгений Моренко</h2>
                        <span class="fh5co-meta">Фотограф</span>
                        <p class="fh5co-lead">{{ text_about }}</p>
                    </div>
                </div>
            </div>
        </div>
</div>