<div id="fh5co-contact" data-section="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center section-heading">
						<h2 class="fh5co-section-title animate-box">Contact</h2>
						<p class="fh5co-lead animate-box">Я бы хотел рассказать о вашей истории.</p>
						<p class="animate-box">{{ text_contact }}</p>
						<p class="animate-box"><a href={{ link_contact }} target="_blank" class="btn btn-primary btn-lg">Начать диолог</a></p>
					</div>
				</div>
			</div>
		</div>