{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Morenko Wedding</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Website of photographer Evgeny Morenko" />
	<meta name="keywords" content="Фотография, Photography, Фотограф, Photographer, Портрет, Portrait, Пейзаж, Landscape, Съёмка, Shoot, Искусство, Art, Креативность, Creativity, Цвета, Colors, Композиция, Composition, Постобработка, Post-processing, 
	Живопись, Painting, Студийная фотография, Studio photography, Фотография природы, Nature photography, Черно-белая фотография, Black and white photography, Портфолио, Portfolio, Фотосессия, Photoshoot, Фотография свадьбы, Wedding photography, 
	Архитектурная фотография, Architectural photography, Макрофотография, Macro photography, фотоискусство, Photographic art" />
	<meta name="author" content="ser.alex.serb@gmail.com" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href='{% static "favicon.ico" %}'>
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<!-- Animate -->
	<link rel="stylesheet" href='{% static "css/animate.css" %}'>
	<!-- Flexslider -->
	<link rel="stylesheet" href='{% static "css/flexslider.css" %}'>
	<!-- Icomoon -->
	<link rel="stylesheet" href='{% static "css/icomoon.css" %}'>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>

	<link rel="stylesheet" href='{% static "css/style.css" %}'>


	<!-- Modernizr JS -->
	<script src='{% static "js/modernizr-2.6.2.min.js" %}'></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src='{% static "js/respond.min.js" %}'></script>
	<![endif]-->

	</head>
	<body>
	
	<div id="fh5co-header">
		<div class="container">
			<!-- Mobile Toggle Menu Button -->
			<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
			<div id="fh5co-logo">
				<a href="">Morenko Wedding<span>.</span></a>
			</div>
			<nav id="fh5co-main-nav">
				<ul>
					<li><a href="#" data-nav-section="home">Home</a></li>
					<li><a href="#" data-nav-section="portfolio">Portfolio</a></li>
					<li><a href="#" data-nav-section="about">About</a></li>
					<li><a href="#" data-nav-section="contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>